<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Template</title>
    </head>
    <body>
        <h1>Up and running!</h1>
        
        <img src="imgs/test.svg" />

        <p><input type="button" value="JS Test" onclick="driver.test()" /></p>
        
        <p></p><div id="out">A message.</div></p>

        <p><a href="/process">/process</a></p>

        <p><a href="/output">/output</a></p>
        
        
        
        <script src="scripts/driver.js"></script>
    </body>
</html>